@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translate(0px, 20px);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}
@keyframes fadeInUpOffset {
	from {
		opacity: 0;
		transform: translate(10px, 20px);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}
@keyframes fadeInSkew {
	from {
		opacity: 0;
		transform: translate(10px, 10px) skew(-10deg, 10deg)
	}
	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes puzzle1 {
	from {
		opacity: 0;
		transform: translate(100px, 100px);
	}
	50% {
		transform: translate(0, 100px);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes puzzle2 {
	from {
		opacity: 0;
		transform: translate(100px, 100px);
	}
	50% {
		transform: translate(100px, 0);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

/* div.tile-outer { position: relative; } */
/* div.tile-controls {
	position: fixed;
	bottom: 0;
	left: 0;
	background: white;
	padding: 4px;
	padding-bottom: 20px;
	z-index: 1;
}
div.tile-controls >div >a {
	display: inline-block;
	border: 1px solid grey;
	padding: 1px;
	margin: 1px;
} */

/*div.tile-grid {
	padding-bottom: 200px;
	overflow-x: hidden;
}*/

div.tile-grid {
	line-height: 2px;
	min-width: 310px;
}

div.tile-scroll {
	height: 500px;
}

span.tile {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	/* width: 100px; height: 100px; */
	width: 100px; height: 100px;
	background: lightgrey;
	animation-duration: 450ms;
	transition: transform 100ms;
}

/*span.tile:nth-child(3n+2) {
	height:120px;
}*/

span.tile.animenone {
	animation: none 0s;
}

span.tile.animefadein {
	animation-name: fadeIn;
}

span.tile.animefadeup {
	animation-name: fadeInUp;
}

span.tile.animeupoff {
	animation-name: fadeInUpOffset;
}

span.tile.animeskew {
	animation-name: fadeInSkew;
}

span.tile.animepuzzle {
	animation-name: puzzle1;
}
span.tile.animepuzzle:nth-child(2n) {
	animation-name: puzzle2;
}

span.tile.hide {
	opacity: 0;
	animation: none 0s;
}

span.tile:hover {
	transform: scale(1.4);
}

/*span.tile:nth-child(3n+2) {
	background-color: light;
}
/*
span.tile:nth-child(3n+3) {
	background-color: lightgoldenrodyellow;
}*/