/* global, basics, and default coloring */

html {
	height: 100%;
	margin: 0;
}
body {
	height: 100%;
	margin: 0;
	position: relative;
	background: #cccccc;
	color: black;
	user-select: none;
}

body * {
	box-sizing: border-box;
}

.ui-win {
	position: absolute;
	background: #cccccc;
	border: 2px solid black;
	resize: both;
	min-width: 160px;
	min-height: 100px;
	overflow: hidden;
	box-shadow: 2px 2px 2px #999999;
}

.ui-win::after {
	content: '';
	position: absolute;
	display: block;
	top: 0; bottom: 0;
	left: 0; right: 0;
	outline: 2px solid pink;
}

.ui-win:last-child {
	box-shadow: 4px 4px 4px #666666;
	background: #999999;
}
.ui-win:last-child::after {
	display: none;
}
.ui-win:last-child >.ui-win-outer {
	outline: 2px solid #0000c2;
}

.ui-win-outer {
	position: absolute;
	top: 2px; bottom: 2px;
	left: 2px; right: 2px;
	border: 1px solid black;
	background: #ffffff;
	display: flex;
	flex-direction: column;
}

.ui-win-titlebar {
	display: flex;
	white-space: nowrap;
	height: 24px;
	text-align: center;
}

.ui-button {
	background: #c2c2c2;
}

.ui-win-titlebar .ui-button {
	width: 24px;
}

.ui-win-title {
	background: #0000c2;
	color: white;
	font-size: 16px;
	flex: 1;
	padding: 2px 0 0 0;
}

.ui-text-select {
	user-select: text;
}

.ui-win-inner {
	flex: 1;
}
