html {
	height: 100%;
	margin: 0;
}
body {
	height: 100%;
	margin: 0;
}

.l-outer { }
.l-output { }
.l-output>.page{
	border:1px solid;
	min-height: 1.1em;
	margin-bottom: 4px;
}
.l-output>.page>.page-title{
	padding: 0px 3px;
	background: #ddd;
	font-family: monospace;
}
.l-output>.page>.page-content{
	padding: 0 6px;
}
.l-input { }


.l-input >form >input {
	box-sizing: border-box;
	width: 100%;
	font-family: monospace;
}
